.env
.idea
dicoevent/__pycache__
events/__pycache__
events/migrations/__pycache__
tickets/__pycache__
tickets/migrations/__pycache__
registrations/__pycache__
registrations/migrations/__pycache__
payments/__pycache__
payments/migrations/__pycache__
core/__pycache__
core/migrations/__pycache__
submission_criteria.md